[submodule "wildbook-ia"]
	path = wildbook-ia
	url = git@github.com:WildMeOrg/wildbook-ia.git
[submodule "wildbook"]
	path = wildbook
	url = git@github.com:WildMeOrg/wildbook.git
[submodule "wildbook-docs"]
	path = wildbook-docs
	url = git@github.com:WildMeOrg/wildbook-docs.git
[submodule "ml-service"]
	path = ml-service
	url = git@github.com:WildMeOrg/ml-service.git
[submodule "pipeline"]
	path = pipeline
	url = git@github.com:James-Burgess/pipeline.git
[submodule "wbia-core"]
	path = wbia-core
	url = git@github.com:James-Burgess/wbia-core.git
