[submodule "wildbook-ia"]
	path = wildbook-ia
	url = git@github.com:WildMeOrg/wildbook-ia.git
[submodule "wildbook"]
	path = wildbook
	url = git@github.com:WildMeOrg/wildbook.git
[submodule "wildbook-docs"]
	path = wildbook-docs
	url = git@github.com:WildMeOrg/wildbook-docs.git
[submodule "ml-service"]
	path = ml-service
	url = git@github.com:WildMeOrg/ml-service.git
[submodule "wbia-core/wbia-tpl-pyhesaff"]
	path = wbia-core/wbia-tpl-pyhesaff
	url = https://github.com/WildMeOrg/wbia-tpl-pyhesaff.git
[submodule "wbia-core/wbia-utool"]
	path = wbia-core/wbia-utool
	url = https://github.com/WildMeOrg/wbia-utool.git
[submodule "wbia-core/wbia-vtool"]
	path = wbia-core/wbia-vtool
	url = https://github.com/WildMeOrg/wbia-vtool.git
